<div *ngIf="country; else loading">
  <button (click)="onBack()"><i class="fa fa-arrow-left"></i>☜☜Retour</button>
  <app-indicators 
  [title]="country?.country + ' - Détails'" 
  [indicators]="detailIndicators">
</app-indicators>

  <!-- <ul>
    <li *ngFor="let participation of country?.participations">
      {{ participation.year }} - {{ participation.city }} - Médailles : {{ participation.medalsCount }}
    </li>
  </ul> -->

  <!-- Affichage du graphique sous forme de ligne -->
  <div class="chart-container">
    <ngx-charts-line-chart
      [view]="[700, 400]"
      [results]="lineChartData"
      [xAxis]="xAxis"
      [yAxis]="yAxis"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      [scheme]="'cool'"
      [yScaleMin]="yScaleMin"
      [yScaleMax]="yScaleMax"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisTickFormatting]="xAxisTickFormatting"
      [yAxisTickFormatting]="yAxisTickFormatting"
      [animations]="animations"
      [autoScale]="true"
    >
    </ngx-charts-line-chart>
  </div>
</div>

<ng-template #loading>
  <p>Chargement des données...</p>
</ng-template>
