::ng-deep .pie-label {
  font-size: clamp(14px, 2vw, 32px) !important; 
}

::ng-deep .tooltip-content {
  background: rgba(0, 128, 120, 0.75) !important;
  color: white !important;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  font-size: clamp(0.8rem, 1vw, 1rem);
}

::ng-deep .tooltip-content::before {
  content: '🏅';
  font-size: 1.2rem;
  margin-right: 8px;
}

/* Container du graphique */
.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 800px;
  margin: auto;
  padding: 10px;
}

ngx-charts-pie-chart {
  width: 100%;
  height: auto;
  max-height: 400px;
}

/* 📱 **Responsive Tablettes** */
@media (min-width: 768px) and (max-width: 1024px)  {
  .chart-container {
    max-width: 700px;
  }

  ngx-charts-pie-chart {
    max-height: 400px;
  }

  ::ng-deep .pie-label {
    font-size: clamp(30px, 2.5vw, 28px) !important;
  }
}

/* 📱 **Responsive Mobiles** */
@media (max-width: 480px) {
  .chart-container {
    max-width: 400px; /* Réduire la largeur pour éviter les débordements */
  }

  ngx-charts-pie-chart {
    max-height: 320px;
  }

  ::ng-deep .pie-label {
    font-size: clamp(18px, 3.5vw, 35px) !important;
  }
}
