

h1 {
    width: 50%;
    background-color: rgb(0 128 120 / 75%);
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    margin: 77px auto; // Centre le titre horizontalement
}


@media (min-width: 768px) and (max-width: 1024px) {
    h1 {
        display: flex;
        justify-content: center;
        text-align: center;
        width: 70%;
        /* Ajuste la largeur pour les tablettes */
        padding: 20px;
        font-size: 2rem;
        /* Taille du texte plus grande pour tablette */
        margin-bottom: 20px;
        /* Espacement entre le titre et les h2 */
    }

    .medals-info {
        flex-direction: column;
        width: 70%;
        /* Ajuste la largeur du container */
        padding: 20px 30px;
        /* Padding à droite et à gauche */
        justify-content: center;
        align-items: center;
    }

    .medals-info h2 {
        width: 100%;
        height: 80px;
        /* Les h2 prennent toute la largeur disponible */
        margin-bottom: 15px;
        /* Espacement entre les h2 */
        text-align: center;
        font-size: 1.6rem;
        /* Augmente la taille du texte des h2 */
        padding: 10px 0;
        /* Ajoute du padding à l'intérieur des h2 */
        border-radius: 10px;
        border: 2px solid rgb(0 128 120 / 75%);
       
    }

    /* Applique du style aux span dans les h2 */
    .medals-info h2 span {
        font-weight: bold;
        color: black;
    }
}

.medals-info {
    display: flex;
    justify-content: space-between; // Espace entre les deux h2
    align-items: center; // Centre verticalement
    width: 40%;
    margin: 20px auto; // Centre horizontalement
    padding: 10px;

    h2 {
        width: auto;
        height: 80px;
        text-align: center;
        border: 2px solid rgb(0 128 120 / 75%);
        border-radius: 10px;
        color: #6a5757fc;
        padding: 10px;
    }
   .bold-text {
       font-weight: bold;
       color: black;
   }
}

@media (max-width: 768px) {
    h1 {
        display: flex;
        justify-content: center;
        text-align: center;
        width: 80%;
        /* Ajuste la largeur pour s'adapter à l'écran mobile */
        padding: 20px;
        /* Augmente le padding pour mobile */
        font-size: 1.8rem;
        /* Augmente la taille du texte */
        margin-bottom: 20px;
        /* Espacement entre le titre et les h2 */
    }

    .medals-info {
        flex-direction: column;
        /* Passe les h2 en colonne sur mobile */
        width: 80%;
        /* Ajuste la largeur du container */
        padding: 20px 30px;
        /* Augmente le padding à droite et à gauche */
        justify-content: center;
        align-items: center;
    }

    .medals-info h2 {
        width: 100%;
        height: 80px;
        /* Les h2 prennent toute la largeur disponible */
        margin-bottom: 15px;
        /* Espacement entre les h2 */
        text-align: center;
        font-size: 1.5rem;
        /* Augmente la taille du texte pour les h2 */
        padding: 10px 0;
        /* Ajoute du padding à l'intérieur des h2 */
        border-radius: 10px;
        border: 2px solid rgb(0 128 120 / 75%);
    }

    /* Applique un peu plus de style aux span dans les h2 pour les rendre plus visibles */
    .medals-info h2 span {
        font-weight: bold;
        color: black;
    }
}

.chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 700px;
    margin: auto;
    font-size: 35px;
}

ngx-charts-pie-chart {
    width: 100%;
    height: auto;
}
.pie-label-line {
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-width: 1px;
}
.component {
    display: block;
}
.pie-label {
    font-size: 16px !important;
    /* Augmente la taille du texte des labels */
}